body {
}
* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-all {
    max-width: 1000px;
    width: 70%;
    margin-left: 500px;
    perspective: 1000px;
    position: relative;
    margin-top: 10px;
}
.container-carrousel {
    width: 20%;
    position: relative;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
}

    .container-carrousel:hover {
        animation-play-state: paused;
        cursor: pointer;
        transition: 300ms;
    }

    .container-carrousel figure {
        width: 130%;
        height: 100px;
        overflow: hidden;
        position: absolute;
        box-shadow: 0px 0px 40px 0px green;
        transition: all 300ms;
    }
        .container-carrousel figure:hover {
            box-shadow: 0px 0px 00px 0px green;
            transition: all 300ms;
        }

    .container-carrousel figure:nth-child(1){
        transform: rotateY(0deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(2) {
        transform: rotateY(40deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(3) {
        transform: rotateY(80deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(4) {
        transform: rotateY(120deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(5) {
        transform: rotateY(160deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(6) {
        transform: rotateY(200deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(7) {
        transform: rotateY(240deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(8) {
        transform: rotateY(280deg) translateZ(280px);
    }
    .container-carrousel figure:nth-child(9) {
        transform: rotateY(320deg) translateZ(280px);
    }    

.container-carrousel img{
    width: 100%;
    height: 100%;
    transition: all 300ms;
}

.container-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotate{
    from{
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}