@{
    ViewBag.Title = "About";
}
<body>
    <h2>Car</h2>
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="~/Image/diferentes-verdes.jpg" /></figure>
            <figure><img src="~/Image/fondo-turquesa.jpg" /></figure>
            <figure><img src="~/Image/Pharmacy icon.png" /></figure>
            <figure><img src="~/Image/burbujas.jpg" /></figure>
            <figure><img src="~/Image/fondo acuarela-pastel.jpg" /></figure>
            <figure><img src="~/Image/pharmacy1.png" /></figure>
            <figure><img src="~/Image/suavidad.jpg" /></figure>
            <figure><img src="~/Image/vac.jpg" /></figure>
            <figure><img src="~/Image/vacuna.png" /></figure>
        </div>
    </div>
</body>